table, td, th, tr { border: 1px solid black; }
table { empty-cells: hide; }
th, td.endnode { overflow:hidden; }
th abbr, td.endnode a { padding:100em; margin:-100em; }
td { padding: 5px; text-align: center; }
td a { display: block; color: black; text-decoration: none; }
td a span { background-color: rgba(255, 255, 255, 0.67); }
li, p.footnote_grouping, ul.footnote_grouping, ul.nongrouped_footnotes { padding:0; margin:0; }
ul.footnote_grouping { padding-right: 0.5em; margin-right: 0.5em; border-right: 1px solid black; border-radius: 0.5em; }
p.footnote_grouping { padding-top: 0.5em; }
ul.paradigms { list-style-type: none; }
ul.bibliography, ul.nongrouped_footnotes, li.single_paradigm { list-style-type: disc; }
li.single_paradigm, ul.footnote_grouping { float: left; }
.clearboth { clear:both; }
td:target span, ul li:target { border: 2px dotted black; }
